{{#if user}}
  <div class="jumbotron text-center">
    <h1>Welcome to Reticulum Employee Recognition</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
    {{#if user.isAdmin}}
	  <div class="col-md-3 col-lg-3 " align="center"> <img alt="Admin Signature" src="https://drive.google.com/uc?id=0B_4RP0qw1BEINGVKekMteWd1Tnc" class="img-responsive"> </div>
	  <p>Name: {{admininfo.fname}} {{admininfo.lname}}</p>
      <p>Username: {{user.email}}</p>
	  {{else}}
    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Signature" src={{userinfo.signature}} class="img-responsive"> </div>
	  <p>Name: {{userinfo.fname}} {{userinfo.lname}}</p>
      <p>Username: {{user.email}}</p>
	  {{/if}}
    </div>
  </div>

{{else}}
  <div class="jumbotron text-center">
    <h1>Reticulum</h1>
    <p>Sign in and view your profile!</p><br>
    <p> Or </p><br>
    <p>Sign up and get started!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in / Sign up
      </a>
    </p>
  </div>

{{/if}}
